
.container {height: 93vh;}

.pic06 {display: none;}
.pic07 {display: none;}
.pic08 {display: none;}
.pic09 {display: none;}
.pic10 {display: none;}
.pic11 {display: none;}
.pic12 {display: none;}
.pic13 {display: none;}
.pic14 {display: none;}

/*
.container {display: none;}
body {display: flex; flex-direction: column; height: 100vh;
        justify-content: center; align-items: center;
        background-color: black;}
p {display: block; color: white; text-align: center; width: 70vw; line-height: 1.5em;}    

*/