
.centralizar {display: flex; justify-content: center; align-items: center;}

.container {height: 100vh; background-color: green;}

.losango {background: url('../imagens/flag-losango.png'); height: 90%; width: 90%;}

.circulo {background: url('../imagens/flag-circulo.png'); height: 60%; width: 60%;}

.losango, .circulo 
{background-size: contain; background-position: center; background-repeat: no-repeat;}

a {color: white; text-align: right;}

@media (min-width: 900px) and (max-width: 1200px) {.circulo {height: 45%; width: 45%;}}

@media (min-width: 600px) and (max-width: 899px) {.circulo {height: 35%; width: 35%;}}

@media (max-width: 599px) {.circulo {height: 35%; width: 35%;}}

@media (max-width: 400px) {.container {flex-direction: column;}}
