
* {margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

header {display: flex; align-items: flex-start;}
#header-img1 {flex: 60%;} #header-img2 {flex: 25%;}
header img {width: 100%;}

#titulo {display: flex; justify-content: space-around; align-items: center; padding: 10px;}

main {display: flex; flex-wrap: wrap; padding: 0 4px;}

section {flex: 25%; padding: 0 4px;}
section img {width:100%; margin-top: 8px;} 

#coluna3 div {text-align: center; margin-top: 20px;}

@media (max-width: 800px) 
{
    #header-img2 {display: none} 
    #titulo h1 {font-size: 1em;}
    section {flex: 50%}
}

@media (max-width: 600px) 
{
    #titulo h1 {font-size: smaller;}
    section {flex: 100%} 
}

