* {margin: 0; padding: 0; color: white;}

#container {display: flex; flex-direction: column; height: 100vh; 
            background-color: blueviolet;}

#conteudo {display: flex; flex: auto; background-color: transparent; padding: 0;}

header, #cp, #cr, #ad, div, footer {border: 2px solid white; padding: 20px; text-align: center;}

#cr {order: -1;} #cp {flex: auto;} #cr, #ad {flex-basis: 150px;}

div {padding: 10px; text-align: center;} 
div:hover {background-color: rgba(255, 255, 255, 0.521);}

a {font-size: 1.5em; text-decoration: none;}
a:hover {text-decoration: underline;}

@media (max-width: 700px) 
{
    #conteudo {flex-direction: column;} 
    #cr, #ad {flex-basis: 50px;} 
    #cp {order: -1;}
} 
